*,
body {
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 16px;
}

.add-padding-aux {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.add-padding-aux-slim {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.element-title-helper {
  color: #fff;
  h3,
  span {
    padding: 0;
    margin: 0;
  }
  span {
    font-weight: 300;
    font-size: 1.5rem;
    &::before {
      content: "";
      width: 2em;
      height: 3px;
      background: $Yellow;
      position: absolute;
      transform: translate3d(-110%, 0.5em, 0);
      @include responsive(tablet) {
        display: none;
      }
    }
  }
  h3 {
    font-weight: bold;
    font-size: 2.125rem;
    margin-top: 0.8rem;
    @include responsive(tablet) {
      font-size: 2rem;
    }
  }
}
.title-helper {
  &::before {
    content: "";
    width: 2em;
    height: 3px;
    background: $Yellow;
    position: absolute;
    transform: translate3d(-110%, 1em, 0);
    @include responsive(tablet) {
      display: none;
    }
  }
  h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    color: $Black;
    @include responsive(tablet) {
      font-size: 1.3em;
      text-align: center;
    }
  }
}

.change-color-bg-wh {
  color: $Black;
}

.text-upp {
  text-transform: uppercase !important;
}

//

.hero-title-helper {
  color: #fff;
  h1,
  span {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  span {
    font-weight: 300;
    font-size: 1rem;
  }
  h1 {
    margin: 0.34rem 0 1.09rem;
    line-height: normal;
    font-weight: 600;

    font-size: 2rem;
    span {
      font-size: 2.3rem;
      letter-spacing: 3.09px;
    }
    @include responsive(tablet) {
      font-size: 1.3em;
    }
  }

}

.btn {
  border: 2px solid #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  box-sizing: border-box;
  padding: 0.3rem 2rem;
  position: absolute;
  border-radius: 4px;
  font-weight: 500;

  color: #fff;
  transition: all 350ms ease-in-out;
  &:hover{
    border: 2px solid transparent;
    transition: all 350ms ease-in-out;
    background: $Yellow;
    color: $Black;
  }
}