.box-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include responsive(tablet) {
    flex-direction: column;
  }
  & > div {
    width: 50%;
    display: flex;

    &.img-map {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    @include responsive(tablet) {
      width: 100%;
    }
    h5,
    p {
      padding: 0;
      margin: 0;
      color: $Black;
    }
    h5 {
      font-weight: 500;
      font-size: 1.5em;
      margin-bottom: 0.34em;
    }
    p {
      font-weight: 300;
      font-size: 1.5em;
      line-height: 2.125rem;
    }
    &.img-map {
      margin-top: 2rem;
    }
  }
}

.container-form {
  overflow: hidden;
  box-sizing: border-box;
  width: 60%;
  @include responsive(tablet) {
    width: 100%;
  }
  .wpcf7 {
    width: 100%;
  }
  form {
    .aux-top-alig {
      & > div {
        width: 100%;
      }
    }
    .container-form-input {
      margin-bottom: 0rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include responsive(tablet) {
        flex-direction: column;
      }
      &:last-child {
        margin-bottom: 0;
      }
      & > div {
        padding: 0.5em;
        box-sizing: border-box;
        overflow: hidden;
      }
      .radio-675 {
        .wpcf7-radio {
          label {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
          }
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .last {
            margin-left: 0;
          }
          .wpcf7-list-item-label {
            margin-left: 0.5rem;
          }
        }
      }
      .wpcf7-radio {
        .first {
          margin-right: 1rem;
        }
        .last {
          margin-left: 1rem;
        }
        .wpcf7-list-item {
          label {
            input[type="radio"] {
              /* remove standard background appearance */
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              /* create custom radiobutton appearance */
              display: inline-block;
              width: 17px;
              height: 17px;
              /* background-color only for content */
              background-clip: content-box;
              background: #fafafa;
              border: 0.5px solid rgba(15, 15, 15, 0.17);
              border-radius: 50%;
              cursor: pointer;
              &:focus {
                outline-color: transparent;
              }
            }

            /* appearance for checked radiobutton */
            input[type="radio"]:checked {
              background-color: $Yellow;
            }
            .wpcf7-list-item-label {
              color: #9f9f9f;
              font-size: 0.875rem;
              font-weight: bold;
              line-height: normal;
              text-transform: uppercase;
              margin-left: 1rem;
            }
          }
        }
      }
      label {
        color: $Black;
        font-size: 0.875rem;
        font-weight: bold;
        line-height: normal;
        span {
          input,
          textarea {
            background: #fafafa;
            border: 0.5px solid rgba(15, 15, 15, 0.17);
            box-sizing: border-box;
            padding: 0.55rem;
            font-size: 1rem;
            border-radius: 4px;
            width: 100%;
            text-transform: uppercase;
            line-height: normal;
            transition: all 350ms ease-in-out;
            &:focus {
              transition: all 350ms ease-in-out;
              outline-color: $Yellow;
            }
          }
        }
      }
      input[type="file"] {
        // color: #fafafa;
        // font-size: 1rem;
        @include responsive(tablet) {
          font-size: 0.89rem;
        }
      }
      input[type="submit"] {
        border-radius: 4px;
        border: 0.5px solid #d3b358;
        background: $Yellow;
        color: $Black;
        text-transform: uppercase;
        font-size: 1.25rem;
        cursor: pointer;
        padding: 0.5rem 3rem;
        width: 100%;
        transition: all 350ms ease-in-out;
        @include responsive(tablet) {
          padding: 0.5rem 6rem;
        }
        &:hover {
          background: $Black;
          color: $Yellow;
          border: 0.5px solid rgba(15, 15, 15, 0.17);
          transition: all 350ms ease-in-out;
        }
      }
    }
  }
}
