.section-say-hello {
  .box-aux-hi {
    display: flex;
    justify-content: space-between;
    @include responsive(tablet) {
      flex-direction: column-reverse;
    }
    & > div {
      width: 50%;
      &:first-child {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        box-sizing: border-box;
        background: #f8f8f861;
      }
      @include responsive(tablet) {
        width: 100%;
        &:first-child {
          width: 100%;
          margin: 3rem 0;
        }
      }
    }
  }
  .area-img {
    div {
      width: 180px;
      overflow: hidden;
      position: relative;
      height: 330px;
    

      img {
        height: 100%;
        position: absolute;
      }
      .help-img-home-A {
        left: 0;
      }
      .help-img-home-B {
        right: 0;
      }
      &:first-child {
        transform: translateY(-21%);
      }
      &:last-child {
        transform: translateY(21%);
      }
      @include responsive(tablet) {
        width: 140px;
        &:first-child {
          transform: translateY(-10%);
        }
        &:last-child {
          transform: translateY(10%);
        }
      }
    }
  }
  .box-label-hi {
    p {
      padding: 0;
      margin: 0;
      color: $Black;
    }

    p {
      font-weight: 500;
      font-size: 1.5em;
      line-height: 2.125rem;
      &.exp-p-hi {
        font-weight: 300;
      }
    }
  }
}
