.section-clientes {
  .label {
    p {
      padding: 0;
      margin: 0;
      color: $Black;
      font-weight: 300;
      font-size: 1.5em;
      line-height: 2.125rem;
      text-align: center;
    }
  }
  .grid-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
      justify-self: center;
      padding: 1em;
      box-sizing: border-box;
      @include responsive(tablet) {
        margin: 2rem 0;

        width: 50%;
        &.you-next {
          width: 100% !important;
        }
      }
    }
    img {
      object-fit: cover;
      filter: grayscale(1);
      transition: all 350ms ease-in-out;
      width: 100%;
      &:hover {
        filter: grayscale(0);
        transition: all 350ms ease-in-out;
      }
    }
  }
}

.you-next {
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  width: 300px;
  height: 200px;
  img {
    position: absolute !important;
    height: 100% !important;
    width: auto !important;
    object-fit: cover !important;
    z-index: -1 !important;
    margin: auto !important;
  }
  div {
    text-align: center;
    p {
      font-weight: 300;
      font-size: 1.5em;
      line-height: 2.125rem;
      text-align: center;
      color: #6f6f6f;
    }
  }
}
